#left-sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    border-right: 1px solid black;
}

#right-sidebar{
    width: 80%;
    height: 100%;
    position: fixed;
    margin-left: 20%;
}
.main-lists{
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.list{
    padding: 15px;
    /* background-color: grey; */
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    margin-bottom: 16px;
    text-decoration: none;
    font-size: 22px;
    color: black !important;
    overflow: hidden;
}

.list:hover{
    background-color: grey;
}

#add-list{
    width: 90%;
    margin-left: 5%;
    height: 55px;
    border: 0px;
    padding-left: 15px;
    font-size: 20px;
}

#add-list:hover{
    border: 1px solid grey;
    border-radius: 22px;
}

#add-list:focus{
    border-radius: 22px;
}

#user-lists{
    
}

#user-list{
    display: flex;
    padding: 15px;
    /* background-color: grey; */
    width: 90%;
    margin: 1% 5%;
    border-radius: 20px;
    text-decoration: none;
    font-size: 22px;
    color: black !important;
    overflow: hidden;

}
#user-list:hover{
    background-color: grey;
}